:root {
    --buttons-color: #c5b4a4;
    --secondary-color: #efeae6;
    --primary-color: #ded4ca;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--buttons-color);
    color: #333;
}

/* Navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.705);
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo h1 {
    font-size: 24px;
    font-weight: bold;
}

.logo .dot {
    color: var(--primary-color);
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    align-items: end;
    gap: 20px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #897b6b;
}

.nav-links .active {
    background-color: #ded8d3;
    padding: 4px 10px;
    border-radius: 30px;
}

/* Profile Button */
.profile-btn {
    color: rgb(11, 11, 11);
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.profile-btn:hover {
    background-color: var(--primary-color);
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Mobile screen */
@media (max-width: 768px) {
    .navbar {
        padding: 0px 100px;
        background-color: #c5b4a4;
    }


    .nav-links {
        display: none;
        flex-direction: column;
        background: #ded8d3;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 15px 0;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    padding: 50px;
    background: #c5b4a4;
}
.hero-text h1 {
    font-size: 70px;
    margin-bottom: 10px;
    color: black;
    font-weight: 700;
}
.hero-text p {
    font-size: 18px;
    color: #584f4a;
}

.badge {
    background: #B08E75;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
}

/*  Responsive Hero */
@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 40px;
    }
    .hero-text p {
        font-size: 16px;
    }
}

/* About Section */
.about-content {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background: #e6ddd2;
}
.about-text {
    width: 60%;
    line-height: 2rem;
}

.about-text h2 {
    font-size: 28px;
}

.about-text ul {
    list-style: none;
    padding: 0;
}

.about-text li {
    margin: 10px 0;
}

/*  Responsive About Section */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
    .about-text {
        width: 100%;
    }
}

/* Testimonial */
.testimonial {
    width: 40%;
    background: #c5b4a4;
    padding: 20px;
    border-radius: 10px;
}

.testimonial blockquote {
    font-style: italic;
    font-size: 18px;
}

/* Awards Section */
.awards {
    padding: 50px;
    background: #f5efe7;
}

.awards h2 {
    text-align: center;
    font-size: 24px;
}

.awards ul {
    list-style: none;
    text-align: center;
}

.awards li {
    font-size: 18px;
    margin: 10px 0;
}
/*  Responsive Testimonial & Awards */
@media (max-width: 768px) {
    .testimonial {
        width: 80%;
        /* text-align: center; */
        margin: auto;
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #fff;
    color: #555;
}
/*  Responsive Footer */
@media (max-width: 768px) {
    footer {
        padding: 15px;
    }
}